.products{
    margin-top: 100vh;
}
.products__search{
    padding: 10px 20px;
    border-radius: 20px;
    /* margin: 0 10px; */
    width: none;
    text-align: center;
    width: 100%;
}

.products__search:focus{
    outline-width: 0;
}